*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.form-info{
    background-color: #eee;
    width:30rem;
    height:30rem;
    padding:10px;
    margin:0% 30%;
    text-align: center;
    justify-content: center;

}

.myform{
    padding:20px 0px;
}
input{
    padding:7px;
    border-radius: 5px;
    width:20rem;
    margin:10px 0px;
}
.submit{
    width:20rem;
    background-color: #000;
    color:#fff;
    padding:7px;
    border-radius: 5px;
}
.error{
    background-color: red;
    font-size: 16px;
    width:20rem;
    padding:7px;
    border-radius: 5px;
    margin-left: 70px;

}
li{
    list-style: none;
}
